<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<h1>Edit Employee</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${employee}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Employee ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>Employee Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Salary:</td>
					<td><input type="text" th:field="*{salary}" /></td>
				</tr>
				<tr>
					<td>Lead:</td>
					<td><select th:field="*{leadId}">
							<option value="0">select Lead</option>
							<option th:each="employee : ${listEmployees}"
								th:value="${employee.id}" th:text="${employee.name}"></option>
					</select></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>