<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee List</title>
</head>
<body>
	<div align="center">
		<h1>Employee List</h1>
		<a href="/new">Create New Employee</a> <br />
		<br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Employee ID</th>
					<th>Name</th>
					<th>Salary</th>
					<th>Lead Id</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.id}">Emp ID</td>
					<td th:text="${employee.name}">Name</td>
					<td th:text="${employee.salary}">Salary</td>
					<td th:text="${employee.leadId}">Lead Id</td>
					<td><a th:href="@{'/edit/' + ${employee.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp; <a th:href="@{'/delete/' + ${employee.id}}">Delete</a>
						&nbsp;&nbsp;&nbsp; <a th:href="@{'/get/lead/' + ${employee.id}}">Show Lead</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>