<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<h1>Lead Data</h1>
		<a href="/">Back</a> <br />
		<br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Name</th>
					<th>Lead Name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
<!-- 					<td th:text="${employee.id}">Emp ID</td> -->
					<td th:text="${lead.name}">Name</td>
					<td th:text="${lead.leadName}">Lead Name</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>